*.egg
*.egg-info
*.pyc
*.pyo
*.swp
.coverage*
.installed.cfg
.mr.developer.cfg
.Python
.tox/
bin
build
coverage.xml
develop-eggs
dist
download
eggs
fake-eggs
htmlcov/
include
local
lib
parts
pip-selfcheck.json
pip-wheel-metadata/
pyvenv.cfg
src/zope.tal
var
